/*Feuille de style pour les menus du jeu Hanabi */

.boutonNonSelectionne {
    -fx-background-color: #808080;
}

.boutonNonSelectionne:hover {
    -fx-background-color: black;
}

.boutonSelectionne {
    -fx-background-color: #477148;
}
